* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .logo {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    height: 100vh;
    width: 33vw;

    .logo-background {
      background-size: cover;
      height: 100vh;
      width: auto;
    }

    .logo-odin {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 200px;
      font-size: 0.8rem;
      width: 100%;
      background-color: rgb(56 56 56);
      padding-top: 10px;
      padding-bottom: 10px;
      opacity: 0.7;

      img {
        width: 100px;
        height: 100px;
      }

      h1 {
        color: white;
        font-size: 60px;
      }
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      position: absolute;
      bottom: 15px;
      color: white;
      width: 100%;
      height: 100%;
      font-size: 0.8rem;

      a {
        color: white;
      }
    }
  }

  .form {
    flex-grow: 2;
    margin: 150px 50px 150px 50px;

    .form-title {
      font-weight: 500;

      p {
        width: 90%;
        font-size: clamp(1rem, 6vh, 2rem);
        line-height: calc(1.2rem + 4hv);
      }
    }

    .form-title p:nth-child(3) {
      padding-top: 30px;
    }

    .form-title p:nth-child(4) {
      padding-top: 80px;
      padding-bottom: 20px;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .box {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-bottom: 20px;

        label {
          text-transform: uppercase;
          font-size: 0.9rem;
        }

        input {
          height: 30px;
          width: 80%;
          padding: 5px;
          border: 2px solid #ccc;
          border-radius: 5px;
        }

        input:invalid {
          border-color: red;
        }

        #error {
          color: red;
          text-transform: none;
        }
      }

      hr {
        width: 100%;
        border: solid 1px #ccc;
      }
    }

    button {
      background-color: #596d48;
      color: white;
      height: 50px;
      width: 250px;
      padding: 5px;
      border-radius: 10px;
      font-size: 1.2rem;
      margin-top: 30px;
      margin-bottom: 30px;
      cursor: pointer;
    }

    p {
      a {
        color: #596d48;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
